<b>CEMU</b>: Cheap EMUlator (v {version:s})
<br>
Created and maintained by {author:s} (<a href="{project_link:s}">Link on GitHub</a>)
<br>
<br>
CEMU allows you to play easily with assembly on many architectures (x86, ARM, MIPS, etc.),
compile execute the result in an emulated environment.
<br>
It is a perfect tool to learn assembly, load raw binary dumps captured, or build your custom
shellcodes.
<br>
<br>
The software is distributed freely under the MIT license.
This tool relies on the fantastic libraries/frameworks:
<br>
<ul>
<li><a href="http://www.keystone-engine.org/">Keystone</a></li>
<li><a href="http://www.capstone-engine.org/">Capstone</a></li>
<li><a href="http://www.unicorn-engine.org/">Unicorn</a></li>
<li><a href="http://pygments.org/">Pygments</a></li>
<li><a href="https://www.riverbankcomputing.com/software/pyqt/">PyQt6</a></li>
</ul>
<br>
<br>
For issues, please send detailed reports <a href="{issues_link:s}">here</a> <br>
<br>
Thanks for using <b>CEMU</b>.
<br>
<br>
<i>hugsy</i>
<br>
<a href="https://twitter.com/_hugsy_">Twitter</a>
<br>
<a href="https://github.com/hugsy">GitHub</a>
